@CHARSET "UTF-8";

.li-btn {
    padding: 14px 24px;
    border: 0 none;  
}
 
.li-btn:focus, .li-btn:active:focus, .li-btn.active:focus {
    outline: 0 none;
}
 
.li-btn-primary {
    background: #222222;
    color: #9d9d9d;
}
 
.li-btn-primary:hover, .li-btn-primary:focus, .li-btn-primary:active, .li-btn-primary.active, .open > .dropdown-toggle.li-btn-primary {
    color: #FFFFFF;
}
 
.li-btn-primary:active, .li-btn-primary-active {
    background: #000000;
    color: #FFFFFF;
}
